
ul {
    list-style-type: none;
    margin-left: -40px;
    background-color: #ebebeb;
    padding: 10px;
    margin-top: -10px;
}
body {
    /* background-image: url("/appleLogo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
}
a {
    color: #4f4f4f;
}
a:link {
    text-decoration: none;
}
#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #eee;
    margin: auto;
    position: relative;
    text-align:center;
  }
.divCon {
    height: 80px;
    width: 70px;
    margin-left: 50px;
    margin-right: 50px;
}
.navLogo {

}
.textUnder{

}